@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

body {
  background-color: black;
}

#taskList::-webkit-scrollbar {
  display: none;
}

#allTasks::-webkit-scrollbar {
  display: none;
}